


<div class="card text-center">
  <div class="card-header">
   Carbonic.com
  </div>
  <div class="card-body">
      <div class="image-container">
         <img  src="/img/success.png">
     </div>
    <h5 class="card-title">Success!</h5>
    <p class="card-text">Successfully schedules your pickup!</p>

    <!--display inserted data here of buyer

    
        <body>
    <div class="testbox">
    <form>
      <div class="banner">
        <h1>Your Pickup Details</h1>
      </div>
      <br/>
      <fieldset>
        <legend>Pickup Scheduler</legend>
      
        <div class="colums">
            {{#each userOne}}
           <div class="item">
            <label for="pcid">Pickup ID<span>*</span></label>
            <input id="pcid" type="text" name="pcid" value="{{ this.byerid }}" readonly/>
          </div>
          <div class="item">
            <label for="bname">Buyer Name<span>*</span></label>
            <input id="bname" type="text" name="bname" value="{{ this.buyername }}" readonly />
          </div>
          <div class="item">
            <label for="province"> Province<span>*</span></label>
            <input id="province" type="text" name="province" value="{{ this.province }}" readonly/>
          </div>
          <div class="item">
            <label for="mobile">Driver Mobile<span>*</span></label>
            <input id="mobile" type="text"   name="mobile" value="{{ this.driver_mobile }}" readonly />
          </div>
           <div class="item">
            <label for="pcktime">Pickup Time<span>*</span></label>
            <input id="pcktime" type="text"   name="pcktime" value="{{ this.settime }}" readonly/>
          </div>
          <div class="item">
            <label for="pckdate">Pickup Date<span>*</span></label>
            <input id="pckdate" type="text"   name="pckdate" value="{{ this.setdate }}" readonly/>
          </div>
          <div class="item">
            <label for="drnic">Driver NIC<span>*</span></label>
            <input id="drnic" type="text"   name="drnic" value="{{ this.driver_NIC }}" readonly/>
          </div>
          <div class="item">
            <label for="vcno">Vehicle No<span>*</span></label>
            <input id="vcno" type="text"   name="vcno" value="{{ this.vehicle_no }}"readonly/>
          </div>
        {{/each}}
        </div>
      </fieldset>
      <br/>
      <fieldset>
          
    </form>
    </div>
  </body>-->
 <script>
      function myFunction() {
        alert("Your Pickup schedule is confirmed!");
      }
    </script>

     <button type="button" class="btn btn-primary" onClick="myFunction()">Confirm</button>
    
  </div>
  
</div>