<link rel="stylesheet" href="/searchforbuyers.css">

<div class = "container mt-5"  style="background-color: whitesmoke;">

  <br> 
  <a href="/fprofile" style="text-decoration: none;"><h5>< Back to Profile</h5></a>
   <center><h1 style="font-weight: bold; color:seagreen;"> Search for Buyers </h1> </center>
   <hr style="border: 2px solid black">


    <input class="form-control me-2" type="search" placeholder="Search by location..." aria-label="Search" id="sbuyer" onkeyup="searchBuyers()">

  <table class="table" id="searchTable">
    <thead>
      <tr>
        <th scope="col"># Number</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Location</th>
        <th scope="col">Contact No</th>
      </tr>
    </thead>
    <tbody>

      {{#each buyers}}

      <tr class="table-success">
        <th scope="row">{{this.id}}</th>
        <td>{{this.name}}</td>
        <td>{{this.email}}</td>
        <td>{{this.address}}</td>
        <td>{{this.contactNumber}}</td>
      </tr>

      {{/each}}
    </tbody>
  </table>
  <br>
</div>


{{!-- implementation of the search bar --}}
<script>

const searchBuyers = () => {

  let keyword = document.getElementById('sbuyer').value.toUpperCase();

  let stable = document.getElementById('searchTable');

  let row = document.getElementsByTagName('tr');

  for(var i = 0; i < row.length; i++) {

    let data = row[i].getElementsByTagName('td')[2];

    if(data) {
       
       let input = data.textContent || data.innerHTML;

       if(input.toUpperCase().indexOf(keyword) > -1) {

         row[i].style.display = "";
       }
       else {

         row[i].style.display = "none";
       }
    }

  }
}

</script>